pytorch-lightning
torch
torchvision
Pillow
open3d
h5py
pymcubes
fasteners
ftfy
regex
pytorch-wavelets
PyWavelets
spconv-cu121
numpy
setuptools==69.5.1
einops
timm
trimesh
seaborn
scikit-image
huggingface_hub
dinov2
backoff
xformers
diffusers
omegaconf
cloudpathlib
transformers
open-clip-torch==2.24.0 # https://github.com/kijai/ComfyUI-SUPIR/issues/143
onnx
onnxruntime
onnxscript
tensorrt==10.12.0.36
pycuda